<div class="site-header site-header-post">
  <canvas class="site-nav-canvas" width="2788" height="2438"></canvas>
  <button class="js-menu menu button-clear " aria-label="Site navigation">
    <span class="menu-icon-line-1 menu-icon-line"></span>
    <span class="menu-icon-line-2 menu-icon-line"></span>
    <span class="menu-icon-line-3 menu-icon-line"></span>
  </button>

  <div class="site-nav-overlay js-nav">
    <div class="nav-content">
      <ul class="nav-categories">
        <li class="nav-category js-nav-animate"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-category js-nav-animate"><a href="/posts/" class="nav-link">Developing</a></li>
        <li class="nav-category js-nav-animate"><a href="/life/" class="nav-link">Life</a></li>
        <li class="nav-category js-nav-animate"><a href="/about/" class="nav-link">About</a></li>
      </ul>
    </div>
  </div>

  <button class="site-search js-search button-clear" aria-label="Search site">
    <span class="site-search-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 38.96 41.469">
        <circle class="site-search-icon-circle" fill="none" stroke-width="4px" cx="16.465" cy="16.484" r="14.465"></circle>
        <path class="site-search-icon-line" d="M2791.72,95.441l3.03-3.034,13.1,13.968-3.03,3.034Z" transform="translate(-2768.88 -67.938)"></path>
      </svg>
    </span>
    <span class="site-search-close-icon">
      <span class="site-search-close-icon-line site-search-close-icon-line-1"></span>
      <span class="site-search-close-icon-line site-search-close-icon-line-2"></span>
    </span>
  </button>

  <div class="js-search-overlay site-nav-overlay-search">
    <div class="site-search-content">
      <input placeholder="Search…" type="text" class="js-search-input siteSearchInput">
      <div class="site-search-content-results js-site-search-content-results">
        <div class="site-search-content-results-list"></div>
      </div>
    </div>
  </div>

</div>
