.menu {
  position: absolute;
  top: 2.7vmin;
  left: 2.8vmin;
  z-index: 2024;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  width: 43px;
  padding: 10px;
  cursor: pointer;
}

.button-clear {
  border: none;
  background-color: transparent;
}

.bi-arrow-left-short {
  fill: currentColor;
  width: 40px;
  height: 40px;
  padding: 4px;
  border-radius: 50%;
  color: #666;
  background-color: rgba(220, 220, 220, 0.2);

  &:hover {
    transform: scale(1.04);
    color: #333;
    background-color: rgba(220, 220, 220, 0.4);
  }
}
