header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 var(--gutter-x);

  nav {
    margin: calc(2px + 2vh) auto 0.5em;
  }

  h5 {
    font-size: 11px;
    font-weight: 800;
    // text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 0;
    margin: 0;
  }

  a {
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;

    &:active {
      color: inherit;
    }

    &:hover {
      opacity: 1;
    }
  }
}
