.post-head {
  padding: 10vh var(--gutter-x) 35vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  h1 {
    max-width: 980px;
    margin: .5em auto;
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1.3em;
  }

  p {
    max-width: 980px;
    margin: .5em auto;
    color: currentColor;
    opacity: .5;
  }
}

@media (min-width: 1200px) {
  .post-head h1 {
    font-size: 3.5em;
  }
}

article {
  margin-top: 60px;
  font-size: 18px;
  line-height: 1.8em;
  overflow-wrap: break-word;

  > .banner {
    max-width: 740px;
    margin: -36vh auto 5em;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 1em;
      // border: 3px solid gray;
    }
  }

  > h1, > h2, > h3 {
    position: relative;
    max-width: 740px;
    padding: 0 var(--gutter-x);
    margin: 3em auto 1em;
    font-size: 1.7em;
    font-weight: 400;
    line-height: 1.3em;
    scroll-margin-top: 1em;

    &:first-child {
      margin-top: 0;
    }
  }

  > p {
    max-width: 740px;
    padding: 0 var(--gutter-x);
    margin: 0 auto 2em;

    &:first-child {
      margin-top: 8rem;
    }
  }

  > ul, > ol {
    max-width: 740px;
    padding: 0 var(--gutter-x);
    margin: 0 auto 2em;

    li {
      margin: .5em 0;
    }
  }

  a {
    color: inherit;
    &:hover {
      color: rgb(var(--black));
    }
  }
}

p img {
  width: 900px;
  max-width: 100vw;
  margin-left: -100px;
  margin-top: 1em;
  margin-bottom: 1em;
  height: auto;
}

p img.small-image {
  width: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  max-width: 740px;
  margin: 0 auto 1em;
  padding-left: 20px;
  padding-right: 20px;
  // font-style: italic;
  font-size: 16px;
  opacity: .75;
  overflow: auto;

  p {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0 calc(1em + 2vw);
  }
}


article .post-header-link {
  position: absolute;
  top: 0;
  right: 100%;
  padding-right: 20px;
  margin-right: -28px;
  color: #999;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-weight: 400
}

article .post-header-link:hover {
  color: #666;
}

.post-header-link-label {
  position: absolute;
  visibility: hidden;
  transform-origin: 100% 50%;
  right: calc(100% + 10px);
  font-size: 14px;
  top: 0;
  margin: auto;
  font-weight: 400;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 7px 8px;
  line-height: 1em;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
  will-change: transform;
}

.post-header-link-hash {
  font-size: 0;
  opacity: 0;
}

.post-content-wrapper {
  padding: 20px;
  margin-bottom: 2em;
  position: relative;
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f4f4f6;
  border-radius: var(--rounded);
  box-sizing: border-box
}

.post-header-link-label::after {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  width: 0;
  margin: auto;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 5px solid #000;
}

h2:hover .post-header-link,h3:hover .post-header-link,h4:hover .post-header-link {
  opacity: 1;
}

.post-header-link:hover {
  opacity: 1;
  color: #888;
}

.post-header-link:hover .post-header-link-label {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

blockquote::before {
  content: open-quote;
  top: 0;
  left: 0;
  margin-top: 1em;
}

blockquote::after {
  content: close-quote;
  bottom: 0;
  right: 0;
  margin: 0 0 1em auto;
}

blockquote::before,
blockquote::after {
  color: #999;
  background-color: #eee;
  display: block;
  width: 1em;
  height: 1em;
  line-height: 1.618;
  font-family: sans-serif;
  font-size: 2em;
  border-radius: 100%;
  text-align: center;
  position: relative;
}

.codepen, .cp_embed_wrapper {
  max-width: 820px;
  height: 400px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  margin: 0 auto 2em;
  padding: 1em 0;
}

div.highlight {
  max-width: 800px;
  margin: 0 auto 2em;
  padding: 2em 0;
  border-radius: 1em;
  line-height: 1.3em;
  background-color: #f4f4f6;
  color: rgb(var(--darkgray));
  overflow: auto;

  > pre {
    max-width: 740px;
    padding: 0 var(--gutter-x);
    margin: 0 auto;
    font-size: 14px;
    background-color: inherit;
  }

  .c,
  .c1 {
    color: gray;
  }
}

code {
  font-family: var(--font-mono);
}

code.highlighter-rouge {
  font-size: 14px;
  padding: .3em .5em;
  border-radius: 7px;
  background-color: #eee;
}

@media (max-width: 940px) {
  article {
    > p img {
      margin-left: -20px;
      max-width: calc(100% + 40px);
    }
  }
}

@media (max-width: 840px) {
  article {
    > ol, > ul {
      list-style-position: inside;
    }

    div.highlight {
      max-width: 100%;
      border-radius: 0;
    }

    .cp_embed_wrapper {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media (max-width: 768px) {
  article > .banner {
    img {
      border-radius: 0;
    }
  }
}
