div.highlight {
  max-width: calc(var(--post-max-width) + 80px);
  margin: 0 auto 2em;
  padding: 2em 0;
  border-radius: 1em;
  line-height: 1.3em;
  background-color: #f4f4f6;
  color: rgb(var(--darkgray));
  overflow: auto;

  > pre {
    max-width: var(--post-max-width);
    padding: 0 var(--gutter-x);
    margin: 0 auto;
    font-size: 16px;
    background-color: inherit;
  }

  .c,
  .c1 {
    color: gray;
  }
}

code {
  font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;;
}

div.language-shell .nv {
  -webkit-user-select: none;
  user-select: none;
}

code.highlighter-rouge {
  font-size: 16px;
  padding: .3em .5em;
  border-radius: 7px;
  background-color: #eee;
}

@media (max-width: 1000px) {
  div.highlight {
    max-width: var(--post-max-width);;
  }
}

@media (max-width: 780px) {
  div.highlight {
    max-width: 100%;
    border-radius: 0;
  }
}
