.site-header-post {
  position: absolute;
  width: 100%;
}

.single-post {
  clear: both;
  position: relative;
  color: #333;
  font-size: 18px;
  line-height: 1.8em;
  overflow: hidden;
}

.single-post-head {
  text-align: center;
  padding: 21vh 20px 21vh;
  position: relative;
}

.post-header {
  position: relative;
  font-size: 74px;
  font-weight: 800;
  line-height: 1.3em;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px) {
  .post-header {
    font-size: calc(12px + 5vw);
  }
}

article {
  > h1,
  > h2,
  > h3 {
    position: relative;
    margin: 3em auto 1em;
    font-size: 1.7em;
    line-height: 1.3em;
    font-weight: 400;
    max-width: 700px;
    padding-left: 20px;
    padding-right: 20px;
    scroll-margin-top: 1em;
    text-wrap: balance;
  }

  > p {
    margin: 0 auto 2em;
    max-width: 700px;
    padding-left: 20px;
    padding-right: 20px;
  }

  > ul,
  > ol {
    margin: 0 auto 2em;
    max-width: 700px;
    padding-left: 20px;
    padding-right: 20px;
  }

  li {
    margin: 0.5em 0;
  }

  blockquote {
    margin: 0 auto 2em;
    max-width: 700px;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 4em;
    box-sizing: border-box;

    > p {
      font-weight: 400;
      font-size: 22px;
      line-height: 1.6em;
      font-style: italic;

      &:first-child {
        position: relative;

        &:before {
          position: absolute;
          content: "“";
          font-size: 100px;
          font-weight: 400;
          font-style: normal;
          display: block;
          top: -0.18em;
          left: 0;
          height: 56px;
          width: 56px;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }

  p img {
    width: 900px;
    max-width: 100vw;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: -100px;
    vertical-align: bottom;
    height: auto;
  }
}

.article-single {
  margin-top: 60px;
}

p img {
  width: 900px;
  max-width: 100vw;
  margin-left: -100px;
  margin-top: 1em;
  margin-bottom: 1em;
  height: auto;
}

p img.small-image {
  width: auto;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 900px) {
  .article p img {
    margin-left: -20px;
    max-width: calc(100% + 40px);
  }

  .article > ol,
  .article > ul {
    list-style-position: inside;
  }

  .article > video {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .article blockquote {
    padding-right: 2em;
    padding-left: 2em;
  }

  .article blockquote > p {
    font-size: 19px;
  }
}

@import "post_blockquote";
@import "post_codepen";
@import "post_code";
@import "post_link_hash";
