div.highlight {
  background-color: #f4f4f6;
  border-radius: var(--rounded);
  padding: 2.4em 1em 2.6em;
  width: 100%;
  max-width: 820px;
  overflow-x: auto;
  margin-right: auto;
  margin-bottom: 2em;
  margin-left: auto;
  line-height: 1.3em;
  box-sizing: border-box;
  position: relative;
  font-family: var(--mono-font);

  > pre.highlight {
    max-width: 700px;
    font-size: 14px;
    margin: 0 auto;
    background-color: inherit;
  }
}

code {
  font-family: var(--mono-font);
}

div.language-console .gp {
  -webkit-user-select: none;
  user-select: none;
}

@media (max-width: 780px) {
  div.highlight {
    position: unset;
    border-radius: 0;
  }
}
