:root {
  --black: 0,0,0;
  --lightgray: 200,200,200;
  --darkgray: 50,50,50;
  --yellow: 255,255,0;
  --lightyellow: 255,255,240;
  --font-mono: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
}

// *,
// *::before,
// *::after {
//   box-sizing: border-box;
// }

html,
div,
span,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
del,
em,
img,
small,
strong,
ol,
ul,
li,
label,
table {
  border: 0;
  vertical-align: baseline;
  margin: 0;
  padding: 0
}

// html {
//   font-size: 16px;
//   scroll-behavior: smooth;
//   height: 100%;
// }

body {
  font: normal 16px/1.9em -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgba(var(--darkgray));
  background-color: rgba(var(--lightyellow));
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 45px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.9em;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  width: 100%;

  h1 {
    font-size: 11px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding-top: 2.9vmin;
    text-align: center;
    font-family: Inter,Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    z-index: 100;
    position: relative;

    a {
      text-decoration: none;
      // transition: color 0.2s ease-in-out;
      // transform: translateZ(0);
      position: relative;
      color: #666;

      &:hover {
        color: #000;
      }
    }
  }
}

footer {
  clear: both;
  margin: 80px 20px 40px;
  text-align: center;
  color: #999;
}

.wrapper {
  clear: both;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    // text-align: center;
    margin: calc(5em + 3vmin) auto 0;
    line-height: 1.9em;
  }
}

.not-found {
  text-align: center;

  h1 {
    font-size: calc(24px + 8vmin);
  }
}

.posts-list {
  ul {
    list-style: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
  }

  li {
    margin-bottom: 1.5em;
  }

  h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
  }
}

a.animate {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: currentColor;
  padding-bottom: 1px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transition: transform .3s ease;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
    }
  }
}

@import "post";
