:root {
  --black: 0,0,0;
  --lightgray: 200,200,200;
  --darkgray: 51,51,51;
  --font-mono: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
div,
main,
span,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
del,
em,
img,
small,
strong,
ol,
ul,
li,
label,
table {
  border: 0;
  vertical-align: baseline;
  margin: 0;
  padding: 0
}

// html {
//   font-size: 16px;
//   scroll-behavior: smooth;
//   height: 100%;
// }

body {
  font: normal 16px/1.9em -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgb(var(--darkgray));
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
}

h1 {
  font-size: 45px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.9em;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

main {
  clear: both;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.not-found {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-size: calc(24px + 8vmin);
  }
}

.posts-list {
  flex: 1;
  max-width: 740px;
  margin: 200px auto 0;

  a.title {
    margin: .5em 0;
    color: forestgreen;

    h2 {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.3em;
    }
  }

  .published-at {
    font-size: 14px;
    font-style: italic;
    line-height: 1.9em;
    color: #999;
  }

  ul {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;

    li {
      margin-bottom: 2em;
    }
  }
}

footer {
  flex: 0;
  margin: 80px 20px 40px;
  text-align: center;
  color: #999;
}

a.animate {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: currentColor;
  padding-bottom: 1px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform .3s ease;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
    }
  }
}

@import "header";
@import "post";
