.post {
  overflow: hidden;
}

.post-head {
  padding: 21vh 20px;
  text-align: center;

  h1 {
    max-width: 980px;
    margin: 0 auto;
    font-size: 64px;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: .015em;

    // &::before {
    //   content: "";
    //   display: block;
    //   width: calc(100% - 2vw);
    //   height: 1.7em;
    //   position: relative;
    //   left: 1vw;
    //   top: 2em;
    //   transform: rotate(1deg);
    //   z-index: -1;
    //   background-color: #ff0;
    // }
  }

  .post-meta {
    max-width: 980px;
    margin: 5em auto 1em;
    color: #666;
  }
}

article {
  font-size: 18px;
  line-height: 1.8;

  h1, h2, h3 {
    // position: relative;
    margin: 3em auto 1em;
    font-size: 1.7em;
    font-weight: 400;
    line-height: 1.3em;
    letter-spacing: -0.015em;
    max-width: 700px;
    padding-left: 20px;
    padding-right: 20px;
    scroll-margin-top: 1em;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    margin: 0 auto 2em;
    max-width: 700px;
    padding-left: 20px;
    padding-right: 20px;
  }

  // img {
  //   max-width: calc(100% + 2em);
  //   margin-left: -1em;
  //   padding: 1em 0;
  // }

  // blockquote {
  //   background-color: #ffd;
  //   border-left: 10px solid #fe0;
  //   margin: 1em 0;
  //   padding: 2em 2em;
  //   color: currentColor;
  // }

  ul, ol {
    max-width: 700px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto 2em;
    list-style-position: inside;
  }

  li {
    margin: .5em 0;
  }

  .cp_embed_wrapper {
    max-width: 820px;
    margin: 0 auto 2em;
    padding-left: 20px;
    padding-right: 20px;
  }

  div.highlight {
    box-sizing: border-box;
    max-width: 820px;
    margin: 0 auto 2em;
    padding: 2em 1em;
    border-radius: .5em;
    font-family: var(--font-mono);
    line-height: 1.3em;
    background-color: rgb(var(--darkgray));
    color: rgb(var(--lightgray));
    overflow: auto;

    > pre {
      max-width: 700px;
      margin: 0 auto;
      font-size: 14px;
      background-color: inherit;
    }
  }

  blockquote {
    max-width: 700px;
    margin: 0 auto 2em;
    padding-left: 20px;
    padding-right: 20px;
    font-style: italic;
    overflow: auto;

    p {
      margin: 0;
      padding: 0 calc(1em + 5vw);
    }
  }

  blockquote::before {
    content: open-quote;
    top: 0;
    left: 0;
    margin-top: 1em;
  }

  blockquote::after {
    content: close-quote;
    bottom: 0;
    right: 0;
    margin: 0 0 1em auto;
  }

  blockquote::before,
  blockquote::after {
    color: #999;
    background-color: #eee;
    display: block;
    width: 1em;
    height: 1em;
    line-height: 1.618;
    font-family: sans-serif;
    font-size: 2em;
    border-radius: 100%;
    text-align: center;
    position: relative;
  }

  a {
    color: inherit;
    &:hover {
      color: rgb(var(--black));
    }
  }

  img {
    width: 900px;
    max-width: 100vw;
    margin-left: -100px;
    margin-top: 1em;
    margin-bottom: 1em;
    height: auto;
  }

  img.small-image {
    width: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

code {
  font-family: var(--font-mono);
}

div.language-shell .nv {
  // color: gray;
  -webkit-user-select: none;
  user-select: none;
}

div.highlight .c,
div.highlight .c1 {
  color: gray;
}

code.highlighter-rouge {
  font-size: 14px;
  padding: .3em .5em;
  border-radius: 7px;
  background-color: #eee;
}

@media (max-width: 900px) {
  article {
    img {
      margin-left: -20px;
      max-width: calc(100% + 40px);
    }

    div.highlight {
      max-width: 100%;
      border-radius: 0;
    }

    .cp_embed_wrapper {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media (max-width: 1200px) {
  .post-head h1 {
    font-size: calc(16px + 4vw);
  }
}
